h1 Staff Tools

= render 'staff_tools/partials/class_table', exercise_classes: @exercise_classes

= render 'staff_tools/partials/class_schedule_table', class_schedules: @class_schedules

= render 'shared/modal'
