h1 Staff Tools

= button_to 'Schedule Class', new_class_schedule_path, method: :get, data: { turbo_frame: :modal_content, el_toggle: :modal, el_target: '#modal' }, class: 'btn'

= render 'shared/modal'
